body{

	margin:auto;

}



header{

	width:auto;

}



	.logo{

		width:auto;

		height:150px;

		padding-left:159px;

		background:#8B131D;

}



	.logo figure{

		width:200px;

		height:90px;

		margin:33px;

		float:left;

		background-color:white;

}



	.logo h1{

		font-size:48px;

		float:left;

		color:white;

}



main{

	width:auto;

	height:auto;

	background:white;

}



	.search{

		width:auto;

		height:100px;

		padding-top:20px;

		padding-left:159px;

		background:dimgrey;

}



	.alfabeto{

		margin:auto;

		clear:left;

}



	.alfabeto li{

		margin:0 20px 10px 0;

		padding:8px;

		list-style:none;

		float:left;

		background:white;

		border-radius:4px;

}



	.alfabeto li a{

		text-decoration:none;

		color:#14141f;

}

	.alfabeto li a:hover {

		color:gray;

}



	.wapi{

		margin-left:10%;
		min-width: 80%;
		float:left;

}



		.wapi h1{

			margin-bottom:70px;

			font-size:40px;

}



		.wapi h2{

			font-size:32px;

}



		.wapi ul{

			list-style:none;

}



		.wapi li{

			margin:0 0 10px -40px;

}



		.wapi a{

			font-size:18px;

			font-weight:bold;

			text-decoration:none;

}



footer{

	width:auto;

	height:200px;

	margin-top:100px;

	clear:both;

	background:#8B131D;

}

.word-card {
	border: solid thin lightgray;
	padding: .5rem;
	border-radius: .3rem;
	box-shadow: 1px 1px 3px #DDD;
}